<div class="animated fadeIn">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Datos del Nuevo Empleado</strong>
      </div>
      <div class="card-body card-block">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="first-name" class="form-control-label">Nombre</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="first-name" name="first-name" placeholder="Nombre" class="form-control">
              <small class="form-text text-muted">Nombre/s del nuevo empleado.</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="lat-name" class="form-control-label">Apellido</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="last-name" name="last-name" placeholder="Apellido" class="form-control">
              <small class="form-text text-muted">Apellido/s del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="birthday" class="form-control-label">Fecha de Nacimiento</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="date" id="birthday" name="birthday" class="form-control">
              <small class="form-text text-muted">Fecha de nacimiento del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="position" class=" form-control-label">Puesto</label>
            </div>
            <div class="col-12 col-md-9">
              <select name="position" id="position" class="form-control">
                <option value="0">Selecciona un puesto</option>
                <option value="1">Despachador</option>
                <option value="2">Repartidor</option>
                <option value="3">Gerente</option>
              </select>
              <small class="form-text text-muted">Cargo a desempeñar del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="salary" class="form-control-label">Salario</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="salary" name="salary" placeholder="Salario" class="form-control">
              <small class="form-text text-muted">Salario aproximado del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="social-security" class="form-control-label">Número de Seguro Social</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="social-security" name="social-security" placeholder="Seguro Social" class="form-control">
              <small class="form-text text-muted">Número de seguro social del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="phone" class="form-control-label">Número de Teléfono</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="phone" name="phone" placeholder="Teléfono" class="form-control">
              <small class="form-text text-muted">Número de teléfono del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="email" class=" form-control-label">Correo</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="email" name="email" placeholder="Correo electronico" class="form-control">
              <small class="form-text text-muted">Correo electronico del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="address" class="form-control-label">Dirección</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="address" name="address" placeholder="Dirección" class="form-control">
              <small class="form-text text-muted">Direccion del nuevo empleado</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="status" class=" form-control-label">Situacion</label>
            </div>
            <div class="col-12 col-md-9">
              <select name="status" id="status" class="form-control">
                <option value="0">Situacion actual</option>
                <option value="1">Activo</option>
                <option value="2">Pendiente</option>
                <option value="3">Inactivo</option>
              </select>
              <small class="form-text text-muted">Situacion del empleado dentro de la empresa.</small>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="employee-image" class=" form-control-label">Cargar Imagen</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="file" id="employee-image" name="employee-image" multiple="" class="form-control-file">
            </div>
          </div>
          <div class="card-header mt-5">Datos para el uso del sistema</div>
          <div class="card-body card-block">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-asterisk"></i>
                </div>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer col-lg-12">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header" align="center">
        <small>&copy; Copyright 2018 all rights reserved</small>
      </div>

    </div>
  </div>


</div>
<!-- .animated -->